.update-profile{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.change-password-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-password-div p{
    color: red;
}
