.create-player{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
}

.playername{
    outline: none;
    border : none;
    border-bottom: 2px solid blueviolet;
}

.style{
    outline: none;
    border : none;
    border-bottom: 2px solid blueviolet;
}

.submit{
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
}

.file::file-selector-button {
    border: none;
    color: white;
    background: blueviolet;
    padding: 2px;
    border-radius: 10px;
  }